# Latex
######################
*.aux
*.auxlock
*.bcf
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.gls
*.ilg
*.ind
*.loc
*.lof
*.lot
*.maf
*.mtc*
*.out
*.pyc
*.rel
*.run.xml
*.synctex.gz
*.spl
*.soc
*.tdo
*.thm
*.vrb
*.nav
*.snm
*.md5
*.dpth
*.dep

*.DS_Store

